body{
  margin:0;
  font-family: monospace;
  overflow:hidden;
}

/* SKY */
.sky{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:60%;
  background: linear-gradient(#87ceeb, #b0e6ff);
  z-index:-3;
}

/* SUN */
.sun{
  position:fixed;
  top:40px;
  right:40px;
  width:80px;
  height:80px;
  background:yellow;
  border-radius:50%;
  box-shadow:0 0 40px yellow;
  z-index:-2;
}

/* SEA */
.sea{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:45%;
  background:#0077be;
  z-index:-2;
  overflow:hidden;
}

/* WAVES */
.wave{
  position:absolute;
  top:-20px;
  left:-50%;
  width:200%;
  height:60px;
  background:rgba(255,255,255,0.3);
  border-radius:50%;
  animation:moveWave 6s linear infinite;
}

.wave:nth-child(2){
  top:10px;
  opacity:0.5;
  animation-duration:8s;
}

.wave:nth-child(3){
  top:30px;
  opacity:0.3;
  animation-duration:10s;
}

@keyframes moveWave{
  0%{transform:translateX(0);}
  100%{transform:translateX(50%);}
}
